ul{
    list-style-type:none;
    padding: 0;
    width: 100px;
    height: 100px;
    padding: 10%;
}
li{
    text-align:none;
    float: left;
    display: block;
    padding: 20px 20px;
    border: 1px solid #555;
    background-color:rgb(68, 68, 117);
}
li a{
    text-decoration: none;
    padding: 15%;
    background-color:yellow;
    border:1px solid #555;
}
li a:hover{
    color: green;
}